@model CoreBookStore.Models.BookViewModel

@{
    ViewBag.Title = "BookStore";
}

<h3>Books</h3>

<p>
    @Html.ActionLink("Add new", "Create", "" ,new { @class = "btn btn-primary" } )
</p>

<table class="table">
    <tr>
		<th>
            Category
        </th>
        <th>
            Title
        </th>
        <th></th>
        <th></th>
    </tr>
@foreach (var item in Model.Books) {
	<tr>
		<td>
            @item.IdCategory
        </td>
        <td>
            @item.Title
        </td>
        <td>
            <span class="pull-right"><a href="@Url.Action("Edit", new { id = item.Id })"> <span class="glyphicon glyphicon-pencil"></span></a></span>
        </td>
        <td>
            <span><a href="@Url.Action("Delete", new { id = item.Id })"> <span class="glyphicon glyphicon-trash"></span></a></span>
        </td>
    </tr>
}

</table>

